.container,.panel{padding:.01em 16px}
.container-flex-left{display:flex;justify-content:left;align-items:center}
.container-flex-right{display:flex;justify-content:right;align-items:center}
.bar:after,.bar:before,.cell-row:after,.cell-row:before,.clear:after,.clear:before,.container:after,.container:before,.panel:after,.panel:before,.row-padding:after,.row-padding:before,.row:after,.row:before{content:"";display:table;clear:both}
.responsive{display:block;overflow-x:auto}
.cursive{font-family:cursive}
.bar{width:100%;overflow:hidden}
.center .bar{display:inline-block;width:auto}
.bar .bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.bar .button{white-space:normal}
.light-green{color:#000!important;background-color:#8bc34a!important}
button{font:inherit;margin:0}
button{overflow:visible}
button{text-transform:none}
.button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.button{width:100%;text-align:left;padding:8px 16px}
.button:hover{color:#000!important;background-color:#ccc!important}
.button:focus{color:#000!important;background-color:#ccc!important}
.black{color:#fff!important;background-color:#000!important}
.text-black{color:#000!important}
.half,.quarter,.third,.threequarter,.twothird{float:left;width:100%}
@media (min-width:601px){
.quarter{width:24.99999%}
.third{width:33.33333%}
.half{width:49.99999%}
.twothird{width:66.66666%}
.threequarter{width:74.99999%}
}
@media (max-width:1205px){
.auto{max-width:95%}
}
body{margin:0;background-color:#000}
footer,header,main,nav{display:block}
strong{font-weight:bolder}
img{border-style:none}
body,html{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5;color:#f5f5f5}
footer{text-align:center}
html{overflow-x:hidden}
h1{font-size:36px;text-align:center;color:#f5f5f5}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
.serif{font-family:serif}
.sans-serif{font-family:sans-serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
img{vertical-align:middle}